@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "reset.scss";


.header {
    background-image: url(../img/backgrounds/bg_header.png);
    background-position: center 25%;
    background-repeat: no-repeat;
    background-size:cover;
    
    height: 800px;
    margin: 0 auto;
    padding: 35px 0 680px;
    margin-bottom: 120px;
    &__menu {
        height: 85px;
    }
}
.menu {
    &__list {
        display: flex; 
        justify-content: center; 
        align-items: center;
        margin: 0 -31px;
        }

    &__item {
        font-family: Lato;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #4d4959;
        margin: 0 31px;
    }
    &__dot{
        width: 5px;
        height: 5px;
        background-color: #9bd5c1;
        position: relative;
    }
    &__logo{
        display: block;
        position: relative;
        width: 94px;
        height: 85px;
        background-image: url(../img/logos/main-logo.png);
        
    }
}
